.subscription-container {
    width: 100%;
    height: 70vh;
    /* background: red; */
     background-color: rgb(30, 12, 94);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  .top-sub-text {
    color: whitesmoke;
  }
  .news-text {
    font-size: 4em;
    color: whitesmoke;
  }
  