.upperFooterDiv {
    width: 100%;
  }
  .footer-desc {
    text-align: justify;
  }
  .footer-list {
    list-style-type: none;
    padding-left: 0;
  }
  .footer-list > li {
    font-weight: 600;
    margin-top: 20px;
  }
  li:hover {
    color: #490e36;
  }
  .footerIcon {
    font-size: 1.2em;
  }
  .iconDiv {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    background-color: #08042b;
    color: white;
  }
  
  .iconDiv:hover {
    background-color: rgb(15, 3, 48);
    border: #e4dac7;
    color: #dac5cc;
    border: 1px solid #afa798;
    transition: 0.5s;
  }
  .lowerFooterDiv {
    width: 100%;
    height: 120px;
    background-color: #10032e !important;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    color: rgb(219, 206, 206);
    padding-top: 45px;
  }
  
  .footerLink {
    text-decoration: none;
    color: rgb(228, 217, 217);
  }
  .footerLink:hover {
    color: #490e36;
  }
  .footer-list > li {
    transition: 0.5s;
  }
  .footer-list > li:hover {
    padding-left: 10px;
    transition: 0.5s;
  }
  