.login-main-Container {
  width: 100%;
  height: 100vh;
}
.form-container {
  width: 30%;
  padding: 20px 30px 15px;
}
.loginInput {
  border-bottom: 2px solid #ffa500 !important;
}
.loginInput:focus {
  box-shadow: none !important;
}

.loginBtn {
  width: 100%;
  background-color: #ffa500 !important;
}
.link-btn {
  width: 150px;
  height: 40px;
  margin-top: 10px;
}

.iconStyle {
  width: 40px;
  margin-right: 4px;
  border-radius: 50%;
}
.gg-icon {
  width: 37px;
}

@media only screen and (max-width: 576px) {
  .form-container {
    width: 100% !important;
  }
  .login-main-Container {
    height: 100%;
  }
}
